Source: parentrol
Section: admin
Priority: extra
Maintainer: Cyril Adrian <cyril.adrian@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/parentrol.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/parentrol.git;a=summary

Package: parentrol
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Parental time control
 Time control to let children use the computer only at known times.
